extends layout

block content
  .main.container.clearfix(style="direction: LTR")
    .row
      .col.col-md-offset-2
        - console.log(courseData._id)

        //- course img link
        - var linkCoursImg = courseData.img
        span#showHover
          if linkCoursImg
            a(href=linkCoursImg)
              //- course title
              h1= courseData.name+'  '
          else
            h1= courseData.name+'  '
          span
            i.fas.fa-plus
            span.appearText(type='button', onclick=`editCoureName("${courseData._id}")`)
              i.far.fa-edit
            span.appearText(type='button', onclick=`deleteCourse("${courseData._id}")`)
              i.far.fa-trash-alt
            span.appearText(type='button', onclick=`imgCourse("${courseData._id}")`)
              i.fas.fa-upload
            br
            if courseData.showInHomePage == "yes"
              span.appearText(type='button', onclick=`HideFromHomePage("${courseData._id}")`)
                | (Hide from Home)
            else
              span.appearText(type='button', onclick=`ShowInHomePage("${courseData._id}")`)
                | (Show in Home)
            

        div( id=`responseCourse${courseData._id}`)
        h3 Products
        ul
          - var indexOut = 0
          //- to render in all capters
          each chapter,index in ChaptersData
            - indexOut = chapter.order + 1
            li#showHover= chapter.name+'  '
              i.fas.fa-plus
              
              //-  chapter title
              if ChaptersData[index]
                span.appearText(type='button', onclick=`editChapterName("${ChaptersData[index]._id}")`)
                  i.far.fa-edit
                span.appearText(type='button', onclick=`deletChapter("${ChaptersData[index]._id}")`)
                  i.far.fa-trash-alt
                  //- do it later
                span.appearText(type='button', onclick=`deleteImgLink("${ChaptersData[index]._id}")`)
                  i.fas.fa-unlink
                span.appearText(type='button', onclick=`AddImgLink("${ChaptersData[index]._id}")`)
                  i.fas.fa-link
                span.appearText#button(type='button', onclick=`addChapter(${index},"${ChaptersData[index]._id}",'upLoad')`)
                  i.fas.fa-upload
                if ChaptersData[index].sectionsLinks.length > 0
                  a(href=ChaptersData[index].sectionsLinks[0])
                    span.appearText image
                //- span.appearText(type='button', onclick=`imgChapter("${ChaptersData[index]._id}")`)
                //-   i.fas.fa-upload
               
                div( id=`responseCH${ChaptersData[index]._id}`)


            if ChaptersData[index]
              - var x = ChaptersData[index]
              span#showHover Price: 
                span= x.price + ' KD '
                span.appearText#elementHover(type='button', onclick=`editPrice("${ChaptersData[index]._id}")`) 
                  i.far.fa-edit
              br
              span#showHover Price Befor Discount: 
                span= x.priceBeforDiscount + ' KD '
                span.appearText#elementHover(type='button', onclick=`edit_priceBeforDiscount("${ChaptersData[index]._id}")`) 
                  i.far.fa-edit
              br
              span#showHover Show In HomePage: 
                span= x.showInHomePage
                span.appearText#elementHover(type='button', onclick=`edit_showInHomePage("${ChaptersData[index]._id}")`) 
                  i.far.fa-edit
              br
              span#showHover Show In Discount Panel: 
                span= x.showInDiscountPanel
                span.appearText#elementHover(type='button', onclick=`edit_showInDiscountPanel("${ChaptersData[index]._id}")`) 
                  i.far.fa-edit
              br
              span#showHover Status: 
                span= x.status
                span.appearText#elementHover(type='button', onclick=`edit_status("${ChaptersData[index]._id}")`) 
                  i.far.fa-edit
              br
              span#showHover Vendor: 
                span= x.vendor 
                span.appearText#elementHover(type='button', onclick=`editVendor("${ChaptersData[index]._id}")`) 
                  i.far.fa-edit
              if x.description
                p#showHover= "Desciption: "+x.description
                  span.appearText#elementHover(type='button', onclick=`editDescription("${ChaptersData[index]._id}")`)
                    i.far.fa-edit
              else
                p No description
                  span.appearText#button(type='button', onclick=`editDescription("${ChaptersData[index]._id}")`)
                    i.far.fa-edit
              div( id=`response${ChaptersData[index]._id}`)
              
            
          .createChapter Create New Product 
            a(href='/admin/EditChapter/'+courseData._id+'?order='+indexOut)
              i.far.fa-file                     
                      
        script(type='text/javascript').
          function AddSection(chapterId) {
            console.log("ssss"+ chapterId)
            $.get( `/admin/AddSection/${chapterId}`, function(data) {
              console.log(`Adding Section to the chapter ${chapterId}`)
              var divId = `#responseSection${chapterId}`
              $(divId).html(data);
              // $(`#response`).html(data);
            });
          };

        script(type='text/javascript').
          console.log("addChapter")
          function addChapter(sectionIndex,chapterId,action) {
            $.get( `/admin/deletSection/${chapterId}/${action}`, function(data) {
              console.log(`#responseCH/${chapterId}`)
              var divId = `#responseCH${chapterId}`
              $(divId).html(data);
              // $(`#response`).html(data);
            });
          };




        script(type='text/javascript').
          function deleteImgLink(chapterId) {
            $.get( `/admin/deleteImgLink/${chapterId}`, function(data) {
              var divId = `#response${chapterId}`
              $(divId).html(data);
            });
          };

        script(type='text/javascript').
          function AddImgLink(chapterId) {
            console.log("your reached AddImgLink")
            $.get( `/admin/AddImgLink/${chapterId}`, function(data) {
              var divId = `#response${chapterId}`
              console.log(data)
              $(divId).html(data);
            });
          };

        script(type='text/javascript').
          function editDescription(chapterId) {
            $.get( `/admin/editDescription/${chapterId}`, function(data) {
              var divId = `#response${chapterId}`
              $(divId).html(data);
            });
          };
          
        script(type='text/javascript').
          function editPrice(chapterId) {
            $.get( `/admin/editPrice/${chapterId}`, function(data) {
              var divId = `#response${chapterId}`
              $(divId).html(data);
            });
          };

        script(type='text/javascript').
          function edit_priceBeforDiscount(chapterId) {
            $.get( `/admin/edit_priceBeforDiscount/${chapterId}`, function(data) {
              var divId = `#response${chapterId}`
              $(divId).html(data);
            });
          };

        script(type='text/javascript').
          function edit_showInHomePage(chapterId) {
            $.get( `/admin/edit_showInHomePage/${chapterId}`, function(data) {
              var divId = `#response${chapterId}`
              $(divId).html(data);
            });
          };

        script(type='text/javascript').
          function edit_showInDiscountPanel(chapterId) {
            $.get( `/admin/edit_showInDiscountPanel/${chapterId}`, function(data) {
              var divId = `#response${chapterId}`
              $(divId).html(data);
            });
          };

        script(type='text/javascript').
          function edit_status(chapterId) {
            $.get( `/admin/edit_status/${chapterId}`, function(data) {
              var divId = `#response${chapterId}`
              $(divId).html(data);
            });
          };






        script(type='text/javascript').
          function editVendor(chapterId) {
            $.get( `/admin/editVendor/${chapterId}`, function(data) {
              var divId = `#response${chapterId}`
              $(divId).html(data);
            });
          };

        script(type='text/javascript').
          function editChapterName(chapterId) {
            $.get( `/admin/editChapterName/${chapterId}`, function(data) {
              var divId = `#responseCH${chapterId}`
              $(divId).html(data);
            });
          };

        script(type='text/javascript').
          function editCoureName(courseId) {
            $.get( `/admin/editCoureName/${courseId}`, function(data) {
              var divId = `#responseCourse${courseId}`
              $(divId).html(data);
            });
          };

        script(type='text/javascript').
          function deletChapter(chapterId) {
            $.get( `/admin/deletChapter/${chapterId}`, function(data) {
              var divId = `#responseCH${chapterId}`
              $(divId).html(data);
            });
          };

        script(type='text/javascript').
          function deleteCourse(courseId) {
            $.get( `/admin/deleteCourse/${courseId}`, function(data) {
              var divId = `#responseCourse${courseId}`
              $(divId).html(data);
            });
          };
        script(type='text/javascript').
          function HideFromHomePage(courseId) {
            // console.log("your reached HideFromHomePage")
            $.post( `/admin/HideFromHomePage/${courseId}`, function(data) {
              var divId = `#responseCourse${courseId}`
              $(divId).html(data);
            });
          };
        script(type='text/javascript').
          function ShowInHomePage(courseId) {
            
            $.post( `/admin/ShowInHomePage/${courseId}`, function(data) {
              // var divId = `#responseCourse${courseId}`
              // $(divId).html(data);
              // console.log("your reached ShowInHomePage")
            });
          };

        script(type='text/javascript').
          function imgCourse(courseId) {
            $.get( `/admin/imgCourse/${courseId}`, function(data) {
              var divId = `#responseCourse${courseId}`
              $(divId).html(data);
            });
          };



                    