extends layoutInvoice

block content
  - var total = 0;

  - var websiteLangaue = "ar"

  if choosedLangaue === "ar"
    - websiteLangaue = "ar"
  else if choosedLangaue === "en"
    - websiteLangaue = "en"




  if websiteLangaue === 'ar'
    - var theLanguage = language.language.ar
  else if websiteLangaue === 'en'
    - var theLanguage = language.language.en

    
  main.container.px-0.fw-bold
    
    p.fs-1.text-center.mt-5 فاتورة
    
    .row

      .col
        table.table-responsive.mb-2
          tbody.fw-bold.fs-4
            tr 
              th التاريخ
              th.px-2 :
              td= `${orderData.time.toLocaleDateString("en-GB")}`
            
            tr 
              th رقم الفاتورة
              th.px-2 :
              td= `${orderData.orderNo}`
            if orderData.invoice > 0
              tr 
                th رقم الفاتورة
                th.px-2 :
                td= `${orderData.orderNo}`
    
    
    
    
            tr
              th اسم العميل
              th.px-2 :
              td= `${orderData.customerName}`
            tr 
              th العنوان
              th.px-2 :
              td= `${orderData.address}`
            tr 
              th هاتف
              th.px-2 :
              td.ltr.d-flex.flex-row-reverse= `${orderData.mobile}`
            // if orderData.KentStatus == "CAPTURED"
              tr 
                th حالة الدفع
                th.px-2 :
                td.ltr.d-flex.flex-row-reverse مدفوع كي-نت
            // else
              tr 
                th حالة الدفع
                th.px-2 :
                td.ltr.d-flex.flex-row-reverse الدفع عند الاستلام

      
        
        
      .col.ltr
        img(src='/img/upload/myFile-1706093299954.png', alt='ITC', data-purpose='ITC-brand-logo', height='100')
        p.mt-1= theLanguage.company
    
    .table-responsive
      table.table
        thead.table-secondary
          tr
            th #
            th اسم المنتج
            th الصنف
            th الماركة
            th الكفالة (سنة)
            th الكمية
            th السعر
            th الاجمالي
        tbody
          - var grandTotal = 0
          each val, index in orderData.inventoryQuantities
            if val != 0
              - var total = val * orderData.prices[index]
              - grandTotal += total
    
              tr(style=(val==0 ? 'text-decoration: line-through ; color: gray ' : ''))
    
                td= index + 1
                td= orderData.productNameAs[index]
                td= orderData.nameAs[index]
                td= orderData.brands[index]
                td= orderData.warranties[index]
    
    
                td= val
    
                td= orderData.prices[index].toFixed(3)
                 
    
    
    
                td= total.toFixed(3)
  
        tfoot
          //tr.table-secondary
            td(colspan='8')
          tr
            td(colspan='6') 
            td.table-secondary الخصم
            td.table-secondary= orderData.discount.toFixed(3)
             
          tr
            td(colspan='6') 
            td.table-secondary التوصيل
            td.table-secondary= orderData.shippingCost.toFixed(3)
            
  
          tr.table-secondary
            td(colspan='6') 
            td الاجمالي
            td= (grandTotal-orderData.discount+rderData.shippingCost).toFixed(3)
  

    ul
      li البضاعة المباعة ترد وتستبدل خلال 14 يوم.
     

    span العنوان: اسوق القرين - شارع سوق السرحان - كهرباء مول - محل رقم 2
    br
    span هاتف: 90903115
    br
    span انستجرام: itcstorekw
    br
    br
    br 
    
