
each product,index in productData
  span= `<item>` 
  br
  span= `<g:id>${product.productNo}</g:id>`
  br
  span= `<title>${product.name}</title>`
  br
  span= `<link>https://itcstore.net/product/${product.productNo}</link>` 
  br
  span= `<description>${product.description}</description>` 
  br
  span= `<g:image_link>https://itcstore.net${product.img}</g:image_link>`
  br
  span= `<g:price>${product.price} KWD</g:price>` 
  br
  span= `<g:availability>in_stock</g:availability>`
  br
  span= `<g:brand>${product.brandName}</g:brand>` 
  br
  span= `<g:update_type>merge</g:update_type>`
  br
  span= `</item>`
  br
  br
  