extends layout

block content
  .main.container
    h1 Prdoduct Detailed Page


    .row
        h1.display-4.m-b-2 ITC Store
        
        .col.col-lg-2
            table.table.table-sm 
                //- thead 
                    tr
                    th(scope='col') Proparty
                    th(scope='col') Value
                tbody
                    tr
                        th ID
                        th :
                        td= `${brandData._id}`
                        td
                          
                    tr
                        th Number
                        th :
                        td= `${brandData.brandNo}`
                        td 
                          a(href=`../editAny/brand/${brandData._id}/brandNo//${brandData.brandNo?brandData.brandNo:"NaN"}/${typeof brandData.brandNo}/brandPage`)
                            span.badge.text-bg-success Edit
                    tr
                        th Name
                        th :
                        td= `${brandData.name}`
                        td 
                          a(href=`../editAny/brand/${brandData._id}/name//${brandData.name?brandData.name:"NaN"}/${typeof brandData.name}/brandPage`)
                            span.badge.text-bg-success Edit
                   


                    tr
                        th URL Name
                        th :
                        td= `${brandData.URLname}`
                        td 
                          a(href=`../editAny/brand/${brandData._id}/URLname//${brandData.URLname?brandData.URLname:"NaN"}/${typeof brandData.URLname}/brandPage`)
                            span.badge.text-bg-success Edit
                    
