doctype html
html(lang="ar" dir="rtl")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title QR Code Generator
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    style.
      @page {
        size: A4;
        margin: 1cm;
      }
      .card {
        
        page-break-inside: avoid;
      }
      .category {
        page-break-before: always;
      }

  body
    h1.text-center.my-4 QR Code Generator
    each category in categories
      .category
        if category.parent == '/'
          h1.categoryname.text-white.bg-primary.text-center= category.name
  
          each subCategory in categories
            if subCategory.parent == '/' + category.URLname
              h3.text-center.text-primary.border.border-primary.py-2 #{subCategory.name}
              each productx in products
                
                if (productx.category.includes(subCategory.URLname))
                  .col.rr
                    div.card.mb-3
                      div.card-header.text-right
                        h5 #{productx.name} (#{productx.productNo})
                      div.card-body
                        .row
                          .col-2
                            img.img-fluid(src=productx.img[0])
                          .col
                            .row
                              each theInventory in inventory
                                if theInventory.productID == productx._id
                                  if theInventory.nameA.includes("3500")
                                    .col-2.mb-4.p-0
                                      include ./includes/qrcode.pug
                                        .container(style='background: yellow;')
                                          p.text-center.card-text.pt-2.mt-0 #{theInventory.nameA}
                                          .qr-code-wrapper
                                            img.pb-4.img-fluid(src=`https://api.qrserver.com/v1/create-qr-code/?data=${theInventory._id}&format=jpg&size=200x200`)
    
                                  else if theInventory.nameA.includes("4000")
                                    .col-2.mb-4.p-0
                                      include ./includes/qrcode.pug
                                        .container(style='background: #FEF3BD;')
                                          p.text-center.card-text.pt-2.mt-0 #{theInventory.nameA}
                                          .qr-code-wrapper
                                            img.pb-4.img-fluid(src=`https://api.qrserver.com/v1/create-qr-code/?data=${theInventory._id}&format=jpg&size=200x200`)
    
                                  else if theInventory.nameA.includes("6000")
                                    .col-2.mb-4.p-0
                                      include ./includes/qrcode.pug
                                        .container(style='background: white;')
                                          p.text-center.card-text.pt-2.mt-0 #{theInventory.nameA}
                                          .qr-code-wrapper
                                            img.pb-4.img-fluid(src=`https://api.qrserver.com/v1/create-qr-code/?data=${theInventory._id}&format=jpg&size=200x200`)
    
                                  else
                                    .col-2.mb-4.p-0
                                      include ./includes/qrcode.pug
                                        .container(style='background: #C1C1C1;')
                                          p.text-center.card-text.pt-2.mt-0 #{theInventory.nameA}
                                          .qr-code-wrapper
                                            img.pb-4.img-fluid(src=`https://api.qrserver.com/v1/create-qr-code/?data=${theInventory._id}&format=jpg&size=200x200`)
    
