extends layout

block content
  .main.container
    h1 Prdoduct Detailed Page


    .row
        h1.display-4.m-b-2 ITC Store
        
        .col.col-lg-2
            table.table.table-sm 
                //- thead 
                    tr
                    th(scope='col') Proparty
                    th(scope='col') Value
                tbody
                    tr
                        th ID
                        th :
                        td= `${categoryData._id}`
                        td
                          
                    tr
                        th Number
                        th :
                        td= `${categoryData.categoryNo}`
                        td 
                          a(href=`../editAny/Category/${categoryData._id}/categoryNo//${categoryData.categoryNo?categoryData.categoryNo:"NaN"}/${typeof categoryData.categoryNo}/categoryPage`)
                            span.badge.text-bg-success Edit
                    tr
                        th Name
                        th :
                        td= `${categoryData.name}`
                        td 
                          a(href=`../editAny/Category/${categoryData._id}/name//${categoryData.name?categoryData.name:"NaN"}/${typeof categoryData.name}/categoryPage`)
                            span.badge.text-bg-success Edit
                    tr
                        th English Name
                        th :
                        td= `${categoryData.nameE}`
                        td 
                          a(href=`../editAny/Category/${categoryData._id}/nameE//${categoryData.nameE?categoryData.nameE:"NaN"}/${typeof categoryData.nameE}/categoryPage`)
                            span.badge.text-bg-success Edit




                    tr
                        th URL Name
                        th :
                        td= `${categoryData.URLname}`
                        td 
                          a(href=`../editAny/Category/${categoryData._id}/URLname//${categoryData.URLname?categoryData.URLname:"NaN"}/${typeof categoryData.URLname}/categoryPage`)
                            span.badge.text-bg-success Edit
                    tr
                        th Grade
                        th :
                        td= `${categoryData.grade}`
                        td 
                          a(href=`../editAny/Category/${categoryData._id}/grade//${categoryData.grade}/${typeof categoryData.grade}/categoryPage`)
                            span.badge.text-bg-success Edit
                    tr
                        th parent
                        th :
                        td= `${categoryData.parent}`
                        td 
                          a(href=`../editAny/Category/${categoryData._id}/parent//categoryData.parent/${typeof categoryData.parent}/categoryPage`)
                            span.badge.text-bg-success Edit
                    tr
                        th thisCategory
                        th :
                        td= `${categoryData.thisCategory}`
                        td 
                          a(href=`../editAny/Category/${categoryData._id}/thisCategory//categoryData.thisCategory/${typeof categoryData.thisCategory}/categoryPage`)
                            span.badge.text-bg-success Edit
                    tr
                        th discountPrice
                        th :
                        td= `${categoryData.discountPrice}`
                        td 
                          a(href=`../editAny/Category/${categoryData._id}/discountPrice//${categoryData.discountPrice}/${typeof categoryData.discountPrice}/categoryPage`)
                            span.badge.text-bg-success Edit
                    tr
                        th beforePrice
                        th :
                        td= `${categoryData.beforePrice}`
                        td 
                          a(href=`../editAny/Category/${categoryData._id}/beforePrice//${categoryData.beforePrice}/${typeof categoryData.beforePrice}/categoryPage`)
                            span.badge.text-bg-success Edit
                    tr
                        th upsell
                        th :
                        td= `${categoryData.upsell}`
                        td 
                          a(href=`../editAny/Category/${categoryData._id}/upsell//${categoryData.upsell}/${typeof categoryData.upsell}/categoryPage`)
                            span.badge.text-bg-success Edit
                    tr
                        th quantity
                        th :
                        td= `${categoryData.quantity}`
                        td 
                          a(href=`../editAny/Category/${categoryData._id}/quantity//${categoryData.quantity}/${typeof categoryData.quantity}/categoryPage`)
                            span.badge.text-bg-success Edit
                    tr
                        th naseem
                        th :
                        td= `${categoryData.naseem}`
                        td 
                          a(href=`../editAny/Category/${categoryData._id}/naseem/${categoryData.naseem}/${typeof categoryData.naseem}/categoryPage`)
                            span.badge.text-bg-success Edit
                    tr
                        th qurain
                        th :
                        td= `${categoryData.qurain}`
                        td 
                          a(href=`../editAny/Category/${categoryData._id}/qurain//${categoryData.qurain}/${typeof categoryData.qurain}/categoryPage`)
                            span.badge.text-bg-success Edit
                    tr
                        th Sell Count
                        th :
                        td= `${categoryData.sellCount}`
                        td 
                          a(href=`../editAny/Category/${categoryData._id}/sellCount//${categoryData.sellCount}/${typeof categoryData.sellCount}/categoryPage`)
                            span.badge.text-bg-success Edit
                    tr
                        th category
                        th :
                        td= `${categoryData.category}`
                        td 
                          a(href=`../editAny/Category/${categoryData._id}/Category//${categoryData.category}/${typeof categoryData.category}/categoryPage`)
                            span.badge.text-bg-success Edit
                    tr
                        th categoryName
                        th :
                        td= `${categoryData.categoryName}`
                        td 
                          a(href=`../editAny/Category/${categoryData._id}/categoryName//${categoryData.categoryName}/${typeof categoryData.categoryName}/categoryPage`)
                            span.badge.text-bg-success Edit
                    tr
                        th categoryNo
                        th :
                        td= `${categoryData.categoryNo}`
                        td 
                          a(href=`../editAny/Category/${categoryData._id}/categoryNo//${categoryData.categoryNo}/${typeof categoryData.categoryNo}/categoryPage`)
                            span.badge.text-bg-success Edit
                    tr
                        th brand
                        th :
                        td= `${categoryData.brand}`
                        td 
                          a(href=`../editAny/Category/${categoryData._id}/brand//${categoryData.brand}/${typeof categoryData.brand}/categoryPage`)
                            span.badge.text-bg-success Edit
                    tr
                        th brandName
                        th :
                        td= `${categoryData.brandName}`
                        td 
                          a(href=`../editAny/Category/${categoryData._id}/brandName//${categoryData.brandName}/${typeof categoryData.brandName}/categoryPage`)
                            span.badge.text-bg-success Edit
                    tr
                        th vendor
                        th :
                        td= `${categoryData.vendor}`
                        td 
                          a(href=`../editAny/Category/${categoryData._id}/vendor//${categoryData.vendor}/${typeof categoryData.vendor}/categoryPage`)
                            span.badge.text-bg-success Edit
                    tr
                        th vendorName
                        th :
                        td= `${categoryData.vendorName}`
                        td 
                          a(href=`../editAny/Category/${categoryData._id}/vendorName//${categoryData.vendorName}/${typeof categoryData.vendorName}/categoryPage`)
                            span.badge.text-bg-success Edit
                    tr
                        th status
                        th :
                        td= `${categoryData.status}`
                        td 
                          a(href=`../editAny/Category/${categoryData._id}/status//${categoryData.status}/${typeof categoryData.status}/categoryPage`)
                            span.badge.text-bg-success Edit
                    tr
                        th Image
                        th :
                        if categoryData.img
                          td 
                            a(href=`${categoryData.img}`) Image Link
                        else
                          td -
                        
                        td 
                          a(href=`../uploadImage/Category/${categoryData._id}/categoryPage`)
                            span.badge.text-bg-success Upload Image 

                    tr      
                      th Subcategorys
                      th :
                      td= `${categoryData.SubcategoryId}`
                      td 
                        a(href=`../editAny/Category/${categoryData._id}/SubcategoryId//${categoryData.SubcategoryId}/${typeof categoryData.SubcategoryId}/categoryPage`)
                          span.badge.text-bg-success Edit
                    
                    tr      
                      th SupercategoryID
                      th :
                      td= `${categoryData.SupercategoryID}`
                      td 
                        a(href=`../editAny/Category/${categoryData._id}/SupercategoryID//${categoryData.SupercategoryID}/${typeof categoryData.SupercategoryID}/categoryPage`)
                          span.badge.text-bg-success Edit
                                   
                                                       
                    tr      
                      th group
                      th :
                      td= `${categoryData.group}`
                      td 
                        a(href=`../editAny/Category/${categoryData._id}/group//${categoryData.group}/${typeof categoryData.group}/categoryPage`)
                          span.badge.text-bg-success Edit
                    tr      
                      th package
                      th :
                      td= `${categoryData.package}`
                      td 
                        a(href=`../editAny/Category/${categoryData._id}/package//${categoryData.package}/${typeof categoryData.package}/categoryPage`)
                          span.badge.text-bg-success Edit

                    tr      
                      th variant
                      th :
                      td= `${categoryData.variant}`
                      td 
                        a(href=`../editAny/Category/${categoryData._id}/variant//${categoryData.variant}/${typeof categoryData.variant}/categoryPage`)
                          span.badge.text-bg-success Edit
               
                    tr      
                      th warranty
                      th :
                      td= `${categoryData.warranty}`
                      td 
                        a(href=`../editAny/Category/${categoryData._id}/warranty//${categoryData.warranty}/${typeof categoryData.warranty}/categoryPage`)
                          span.badge.text-bg-success Edit
                    tr      
                      th description
                      th :
                      td= `${categoryData.description}`
                      td 
                        a(href=`../editAny/Category/${categoryData._id}/description//${categoryData.description}/${typeof categoryData.description}/categoryPage`)
                          span.badge.text-bg-success Edit
               
                    tr      
                      th color type
                      th :
                      td= `${categoryData.colortype}`
                      td 
                        a(href=`../editAny/Category/${categoryData._id}/colortype//${categoryData.colortype}/${typeof categoryData.colortype}/categoryPage`)
                          span.badge.text-bg-success Edit
               
        
