extends layout


block content

  .main
    .container

      ul.fs-2
        li Product: #{inventoryData.productNameA}
        li
          a(href=`/manager/productPage/${inventoryData.productID}`)
            span Produt No: #{inventoryData.productNo}

        if managerNow
          a(href=`/manager/deleteinventory/${inventoryData._id}`)
            .badge.text-bg-danger.ms-1
                i.fa.fa-trash
            
      .card.text-dark.bg-light.mb-3.rtl(style='max-width: 32rem;')
        .card-header.text-center.fs-1 عدل صنف
        form(action='../editInventory' method='post').px-1
        
          .row.row-cols-2
            .col-12
              .form-group
                label(for='input2') الاسم
                if managerNow
                  input#input3.form-control(type='text' name='productNameA' value=inventoryData.productNameA)
                  
                else
                  input#inp
            .col-12
              .form-group
                label(for='input2') الاسم انجليزي
                if managerNow
                  input#input3.form-control(type='text' name='productNameE' value=inventoryData.productNameE)
                  
                else
                  input#inp
            .col
              .form-group 
                label(for='input1') رقم المنتج
                input.form-control(type='text' name='' value=inventoryData.productNo disabled)
                input#input0.form-control(name='productNo' value=inventoryData.productNo type='hidden')
            .col
              .form-group 
                label(for='input1') العلامة التجارية 
                input#input11.form-control(type='text' name='brand' value=inventoryData.brand)
            .col
              .form-group 
                label(for='input1') التكلفة  
                input#input11.form-control(type='number' name='cost' step="0.001" value=inventoryData.cost)
            .col
              .form-group 
                label(for='input1') اسم الصنف (عربي)
                input#input1.form-control(type='text' name='nameA' value=inventoryData.nameA)
            .col
              .form-group 
                label(for='input1') اسم الصنف (انجليزي)
                input#input1.form-control(type='text' name='nameE' value=inventoryData.nameE)
            .col
              .form-group
                label(for='input2') الكمية في المحل
                if managerNow
                  input#input2.form-control(type='text' name='quantityShop' value=inventoryData.quantityShop)
                else
                  input#input2.form-control(type='text' value=inventoryData.quantityShop disabled)
            .col
              .form-group
                label(for='input2') الكمية في المخزن
                if managerNow
                  input#input3.form-control(type='text' name='quantitywarehouse01' value=inventoryData.quantitywarehouse01)
                else
                  input#input3.form-control(type='text' value=inventoryData.quantitywarehouse01 disabled)
            .col
              .form-group
                label(for='input2') اقل كمية (المحل)
                input#input3.form-control(type='number' name='minShop' value=inventoryData.minShop)
            .col
              .form-group
                label(for='input2') اقل كمية
                input#input3.form-control(type='number' name='min' value=inventoryData.min)
            .col
              .form-group
                label(for='input2') الكفالة
                input#input3.form-control(type='text' name='warranty' value=inventoryData.warranty)
            .col
              .form-group
                label(for='input2') هاتف المورد
                input#input3.form-control(type='text' name='vendormobile' value=inventoryData.vendormobile)
            .col
              .form-group
                label(for='input2') url
                if managerNow
                  input#input3.form-control(type='text' name='producturl' value=inventoryData.producturl)
                else
                  input#input3.form-control(type='text' value=inventoryData.producturl disabled)
            if managerNow
              .col
                .form-group
                  label(for='sellcount') عداد الشراء
                  input#input3.form-control(type='text' name='sellcount' value=inventoryData.sellcount)
              .col
                .form-group
                  label(for='procurecount') عداد البيع
                  input#input3.form-control(type='text' name='procurecount' value=inventoryData.procurecount)

            .col
              .form-group
                label(for='input2') رقم المنتج عند المورد
                  input#input3.form-control(type='text' value=inventoryData.VendorItemNo name="VendorItemNo")
                  
          input(type='hidden' name='productID' value=inventoryData.productID)
          
          input(type='hidden' name='inventoryID' value=inventoryData._id)
          .d-grid.gap-2
            button.btn.btn-primary.mt-2(type='submit') ارسل


      // Display quantityTransferLog
      if inventoryData.quantityTransferLog.length > 0
        .card.text-dark.bg-light.mb-3.rtl(style='max-width: 32rem;')
          .card-header.text-center.fs-1 تاريخ التحول في الكمية
          .card-body
            ul
              table.table
                thead
                  tr
                    th(scope='col') تاريخ
                    th(scope='col') كمية المحل قبل التغيير
                    th(scope='col') كمية المحل بعد التغيير
                    th(scope='col') كمية المخزن قبل التغيير
                    th(scope='col') كمية المخزن بعد التغيير
                    th(scope='col') رقم طلب التحويل
                    th(scope='col') المستخدم
                tbody
                  each logEntry in inventoryData.quantityTransferLog
                    tr
                      td= logEntry.date.toLocaleDateString('en-GB')
                      td= logEntry.quantityShopBefore
                      td= logEntry.quantityShopAfter
                      td= logEntry.quantitywarehouse01Before
                      td= logEntry.quantitywarehouse01After
                      td= logEntry.transferRequestId
                      td= logEntry.user

      else
        p No quantity transfer logs available
      p= inventoryData
