extends layout

block content
  .main.container
    
    
    p= data.type

    if (!result)
      .row
          h3= `Edit ${data.collection} ${data.field}`
          .row
            form(method='POST' action='/manager/editAny')
            
              if ( data.field == "warehouse" ) 
                .col-sm
                  select.form-select(name='value' type='string')
                    option(value="qurain") القرين
                    option(value="naseem") النسيم

              else if (data.type == "boolean")
                p= data.field + ": " + data.value
                .col-sm-4.col
                  select.form-select(name='value' type='string')
                    if (data.value == "true")
                      option(value="true") true / نعم
                      option(value="false") false / لا
                    else if (data.value == "false")
                      option(value="false") false / لا
                      option(value="true") true / نعم
                    else
                      option(value="true") true / نعم
                      option(value="false") false / لا
                      
                      


              else if ( data.field == "status" && data.collection == "Order" ) 
                .col-sm
                  select.form-select(name='value' type='string')
                    option(value="canceled") الغاء الطلب
                    option(value="processing") تحويل الحاله الى جديد
                    option(value="deleted") حذف الطلب
  
                  h5.mt-3.text-danger في حال حذف الطلب لن تتمكن من استرجاعه
              
              
  
  
  
  
  
              else
                .col-sm
                  label(for=`${data.field}`)= `${data.field}`
                  
                  input.form-control(type=`${data.type}` step=".001" value=`${data.value}` name="value")
  
  
              .col-sm
              .col-sm
                
                input.form-control(type="hidden" value=`${data.field}` name="field")
                input.form-control(type="hidden" value=`${data.returnTo}` name="returnTo")
                input.form-control(type="hidden" value=`${data.collection}` name="collection")
                input.form-control(type="hidden" value=`${data.id}` name="id")
                input.form-control(type="hidden" value=`${data.referer}` name="referer")
              .col-sm
                label.text-white .
                br
                button.btn.btn-primary(type='submit') تعديل
  

    - var action = ""
    if (data.field == "category" && data.collection == "Product")
      - var indexGlobal = 0
      
      
      each productCategories,indexProduct in result.category
        - action = `/manager/editAny/${data.collection}/${data.field}/${result._id}/${indexProduct}`
        form(method='POST' action=action)  
          .row           
            - indexGlobal = indexProduct + 1
            label= "Product category: " + indexProduct
            label= "Current category: " + productCategories
            
            .col
              select.form-select(name='value' type='string')
                option(value="null")= "null"
                each category,index in subData                   
                  option(value=category.URLname)= category.URLname
            .col
              button.btn.btn-primary(type='submit') تعديل



      - action = `/manager/editAny/${data.collection}/${data.field}/${result._id}/${indexGlobal}`
      form(method='POST' action=action)
        .row
          label= "product category: " + indexGlobal + " (more)."
          .col
            select.form-select(name='value' type='string')
              option(value="null")= "null"
              each category,index in subData
                - indexGlobal = index + 1
                option(value=category.URLname)= category.URLname
          .col
            button.btn.btn-primary(type='submit') تعديل

    if (data.field == "brand")
      - var indexGlobal = 0
      p brand
      - action = `/manager/editAny/${data.collection}/${data.field}/${result._id}/${indexProduct}`
      form(method='POST' action='/manager/editAny')
        .row
          .col
            select.form-select(name='value' type='string')
              option(value="null")= "null"
              each brand,index in subData                   
                option(value=brand.name)= brand.name
          .col
            input.form-control(type="hidden" value=`${data.field}` name="field")
            input.form-control(type="hidden" value=`${data.returnTo}` name="returnTo")
            input.form-control(type="hidden" value=`${data.collection}` name="collection")
            input.form-control(type="hidden" value=`${data.id}` name="id")
            input.form-control(type="hidden" value=`${data.referer}` name="referer")
            button.btn.btn-primary(type='submit') تعديل
