extends layout

block content

  .main.container
    h1.text-center الطلبات


    form(method='POST' action='/manager/AddOrder')
      .row
        .col
          input.form-control(type='text', name='invoice', placeholder='رقم الفاتورة')
        .col
          input.form-control(type='text', name='mobile', placeholder='الهاتف')
        .col
          button.btn.btn-primary(type='submit') طلب جديد

    
    .table-responsive
      table.table.table-bordered
        thead
          tr
            th(scope='col') رقم الطلب
            th(scope='col') رقم الفاتورة
            th(scope='col') هاتف
            th(scope='col') التاريخ
            th(scope='col') الحالة
            th(scope='col') الاجمالي
        tbody
          each order,index in orderData
            if (order.status != "deleted")
              tr
                td
                  a(href=`/manager/orderPage/${order._id}`)
                    div= `${order.orderNo}`
                td= `${order.invoice}`
                td= `${order.mobile}`
                td= `${order.time.toLocaleDateString("en-GB")}`
                td= `${order.status}`
                td -
  
      
  
          
          
