extends layout

block content

  .main.container
    h1.text-center الطلبات
    

    form(method='POST' action='/manager/AddOrder')
      .row
        .col
          input.form-control(type='text', name='invoice', placeholder='رقم الفاتورة')
        .col
          input.form-control(type='text', name='mobile', placeholder='الهاتف')
        .col
          button.btn.btn-primary(type='submit') طلب جديد

    
    .table-responsive
      table.table.table-bordered
        thead
          tr
            th(scope='col') رقم الطلب
            th(scope='col') رقم الفاتورة
            th(scope='col') هاتف
            th(scope='col') التاريخ
            th(scope='col') الحالة
            th(scope='col') الاجمالي
            th(scope='col') التكلفة
            th(scope='col') الهامش
            th(scope='col') الصورة
            th(scope='col') ارفع صورة
        tbody
          each order,index in orderData
            if (order.status != "deleted")
              tr
                td
                  a(href=`/manager/orderPage/${order._id}`)
                    div= `${order.orderNo}`

                if order.invoice
                  td= `${order.invoice}`
                else
                  td
                
                if order.mobile
                  td= `${order.mobile}`
                else
                  td
                
                
                
                
                td= `${order.time.toLocaleDateString("en-GB")}`

                if (order.status == "completed")
                  td.bg-info مكتمل
                else if (order.status == "processing")
                  td جار المعالجة
                else if (order.status == "canceled")
                  td.bg-warning ملغي 
                else if (order.status == "returned")
                  td.bg-danger مرتجع 
                else
                  td= `${order.status}`
                
                
                td= `${order.totalPrice}`
                td= `${order.totalCost}`
                td= `${(order.totalPrice - order.totalCost).toFixed(3)}`
                if order.img
                  td 
                    a(href=`${order.img}`) رابط الصورة
                else
                  td -
                td 
                  a(href=`../uploadImage/Order/${order._id}/orderPage/img`)
                    span.badge.text-bg-success
                      i.fa.fa-upload.p-1(aria-hidden='true')
                  span= `${order.invoice}`
