extends layout

block content
  .main.container
    .row
        //- .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 ITC Store
        h3 Payment Voucher

        form(method='POST' action='/payment')
          .row
            .col
              label(for='date') Date:
              input.form-control#birthday(type='date' name='date')
            .col
              label(for='value') Amount:
              input.form-control(type='number' step=".001" placeholder='0.000 KD' name='value')
            .col
              label(for='to') Pay to:
              input.form-control(type='text' placeholder='Name' name='to')
            .col
              label(for='for') Thats's for
              input.form-control(type='text' placeholder='Reason to pay' name='for')
            .col
              label(for='class') Thats's for
              input.form-control(type='text' placeholder='Classfication' name='class')
            .col
              label.text-white .
              br
              button.btn.btn-primary(type='submit') Submit
        - var total = 0
        table.table
          thead
            tr
              th(scope='col') #
              th(scope='col') to
              th(scope='col') for
              th(scope='col') value
              th(scope='col') date_________
              th(scope='col') class
              th(scope='col') CreatedBy
              th(scope='col') createTime
              th(scope='col') status

          tbody
            each payment,index in paymentData
              if payment.status === "1"
                - total += payment.value
              - console.log(payment.date)
              tr
                th(scope='row')= index+1
                  td= payment.to
                  td= payment.for
                  td= payment.value
                  //- td= payment.date
                  td= JSON.stringify(payment.date).slice(1,11)
                  td= payment.class
                  td= payment.CreatedBy
                  td= JSON.stringify(payment.createTime).slice(1,11)
                  //- td= payment.status
                  td
                    form(method='POST' action='/changeStatus' id="statusForm")
                      input.form-control(value=payment._id name='id', type='hidden')
                      select(name="status")
                        option(value=`${payment.status}`)= payment.status
                        option(value="0") 0: waiting appr
                        option(value="1") 1: Appr
                      
                      button.btn.btn-primary.btn-sm(type='submit') Change 
          thead
            tr
              th
              th
              th
              th= total
              th
              th
              th
              th
              th
