extends layout

block content
  .main.container
    h1 Prdoduct Detailed Page


    .row
        h1.display-4.m-b-2 ITC Store
        
        .col.col-lg-2
            table.table.table-sm 
                //- thead 
                    tr
                    th(scope='col') Proparty
                    th(scope='col') Value
                tbody
                    tr
                        th ID
                        th :
                        td= `${productData._id}`
                        td
                          
                    tr
                        th Number
                        th :
                        td= `${productData.productNo}`
                        td 
                          a(href=`../editAny/Product/${productData._id}/productNo//${productData.productNo?productData.productNo:"NaN"}/${typeof productData.productNo}/productPage`)
                            span.badge.text-bg-success Edit
                    tr
                        th Warehouse No
                        th :
                        td= `${productData.warehouseNo}`
                        td 
                          a(href=`../editAny/Product/${productData._id}/warehouseNo//${productData.warehouseNo?productData.warehouseNo:"NaN"}/${typeof productData.warehouseNo}/productPage`)
                            span.badge.text-bg-success Edit
                    tr
                        th Name
                        th :
                        td= `${productData.name}`
                        td 
                          a(href=`../editAny/Product/${productData._id}/name//${productData.name?productData.name:"NaN"}/${typeof productData.name}/productPage`)
                            span.badge.text-bg-success Edit
                    tr
                        th Variant Name
                        th :
                        td= `${productData.variantName}`
                        td 
                          a(href=`../editAny/Product/${productData._id}/variantName//${productData.variantName?productData.variantName:"NaN"}/${typeof productData.variantName}/productPage`)
                            span.badge.text-bg-success Edit




                    tr
                        th English Name
                        th :
                        td= `${productData.nameE}`
                        td 
                          a(href=`../editAny/Product/${productData._id}/nameE//${productData.nameE?productData.nameE:"NaN"}/${typeof productData.nameE}/productPage`)
                            span.badge.text-bg-success Edit
                    tr
                        th URL
                        th :
                        td= `${productData.url}`
                        td 
                          a(href=`../editAny/Product/${productData._id}/url//${productData.url?productData.url:"NaN"}/${typeof productData.url}/productPage`)
                            span.badge.text-bg-success Edit
                    tr
                        th Google Category
                        th :
                        td= `${productData.googleCategory}`
                        td 
                          a(href=`../editAny/Product/${productData._id}/googleCategory//${productData.googleCategory?productData.googleCategory:"NaN"}/${typeof productData.googleCategory}/productPage`)
                            span.badge.text-bg-success Edit
                    tr
                        th status
                        th :
                        td= `${productData.status}`
                        td 
                          a(href=`../editAny/Product/${productData._id}/status//${productData.status}/${typeof productData.status}/productPage`)
                            span.badge.text-bg-success Edit
                    tr
                        th cost
                        th :
                        td= `${productData.cost}`
                        td 
                          a(href=`../editAny/Product/${productData._id}/cost//${productData.cost}/${typeof productData.cost}/productPage`)
                            span.badge.text-bg-success Edit
                    tr
                        th price
                        th :
                        td= `${productData.price}`
                        td 
                          a(href=`../editAny/Product/${productData._id}/price//${productData.price}/${typeof productData.price}/productPage`)
                            span.badge.text-bg-success Edit
                    tr
                        th discountPrice
                        th :
                        td= `${productData.discountPrice}`
                        td 
                          a(href=`../editAny/Product/${productData._id}/discountPrice//${productData.discountPrice}/${typeof productData.discountPrice}/productPage`)
                            span.badge.text-bg-success Edit


                    tr      
                      th discounted
                      th :
                      td= `${productData.discounted}`
                      td 
                        a(href=`../editAny/Product/${productData._id}/discounted//${productData.discounted}/${typeof productData.discounted}/productPage`)
                          span.badge.text-bg-success Edit

                    tr      
                      th Show In Website
                      th :
                      td= `${productData.showInWebsite}`
                      td 
                        a(href=`../editAny/Product/${productData._id}/showInWebsite//${productData.showInWebsite}/${typeof productData.showInWebsite}/productPage`)
                          span.badge.text-bg-success Edit



                    tr
                        th beforePrice
                        th :
                        td= `${productData.beforePrice}`
                        td 
                          a(href=`../editAny/Product/${productData._id}/beforePrice//${productData.beforePrice}/${typeof productData.beforePrice}/productPage`)
                            span.badge.text-bg-success Edit
                    tr
                        th upsell
                        th :
                        td= `${productData.upsell}`
                        td 
                          a(href=`../editAny/Product/${productData._id}/upsell//${productData.upsell}/${typeof productData.upsell}/productPage`)
                            span.badge.text-bg-success Edit
                    tr
                        th quantity
                        th :
                        td= `${productData.quantity}`
                        td 
                          a(href=`../editAny/Product/${productData._id}/quantity//${productData.quantity}/${typeof productData.quantity}/productPage`)
                            span.badge.text-bg-success Edit
                    tr
                        th naseem
                        th :
                        td= `${productData.naseem}`
                        td 
                          a(href=`../editAny/Product/${productData._id}/naseem/${productData.naseem}/${typeof productData.naseem}/productPage`)
                            span.badge.text-bg-success Edit
                    tr
                        th qurain
                        th :
                        td= `${productData.qurain}`
                        td 
                          a(href=`../editAny/Product/${productData._id}/qurain//${productData.qurain}/${typeof productData.qurain}/productPage`)
                            span.badge.text-bg-success Edit
                    tr
                        th Sell Count
                        th :
                        td= `${productData.sellCount}`
                        td 
                          a(href=`../editAny/Product/${productData._id}/sellCount//${productData.sellCount}/${typeof productData.sellCount}/productPage`)
                            span.badge.text-bg-success Edit
                    tr
                        th category URLs
                        th :
                        td= `${productData.category}`
                        td 
                          a(href=`../editAny/Product/${productData._id}/category//x/${typeof productData.category}/productPage`)
                            span.badge.text-bg-success Edit
                        td later modify as image array
                    tr
                        th variation
                        th :
                        td= `${productData.variation}`
                        td 
                          a(href=`../editAny/Product/${productData._id}/variation//${productData.variation?productData.variation:"NaN"}/${typeof productData.variation}/productPage`)
                            span.badge.text-bg-success Edit
                        td later modify as image array
                    tr
                        th categoryName
                        th :
                        td= `${productData.categoryName}`
                        td 
                          a(href=`../editAny/Product/${productData._id}/categoryName//${productData.categoryName}/${typeof productData.categoryName}/productPage`)
                            span.badge.text-bg-success Edit
                    tr
                        th categoryNo
                        th :
                        td= `${productData.categoryNo}`
                        td 
                          a(href=`../editAny/Product/${productData._id}/categoryNo//${productData.categoryNo}/${typeof productData.categoryNo}/productPage`)
                            span.badge.text-bg-success Edit
                    tr
                        th brand
                        th :
                        td= `${productData.brand}`
                        td 
                          a(href=`../editAny/Product/${productData._id}/brand//${productData.brand?productData.brand:"NaN"}/${typeof productData.brand}/productPage`)
                            span.badge.text-bg-success Edit
                    tr
                        th brandName
                        th :
                        td= `${productData.brandName}`
                        td 
                          a(href=`../editAny/Product/${productData._id}/brandName//${productData.brandName?productData.brandName:"NaN"}/${typeof productData.brandName}/productPage`)
                            span.badge.text-bg-success Edit
                    tr
                        th vendor
                        th :
                        td= `${productData.vendor}`
                        td 
                          a(href=`../editAny/Product/${productData._id}/vendor//${productData.vendor}/${typeof productData.vendor}/productPage`)
                            span.badge.text-bg-success Edit
                    tr
                        th vendorName
                        th :
                        td= `${productData.vendorName}`
                        td 
                          a(href=`../editAny/Product/${productData._id}/vendorName//${productData.vendorName}/${typeof productData.vendorName}/productPage`)
                            span.badge.text-bg-success Edit
                    tr
                        th status
                        th :
                        td= `${productData.status}`
                        td 
                          a(href=`../editAny/Product/${productData._id}/status//${productData.status}/${typeof productData.status}/productPage`)
                            span.badge.text-bg-success Edit
                    tr
                        th Image
                        th :
                        if productData.img
                          each img,index in productData.img
                            td 
                              a(href=`${img}`) Image Link
                        else
                          td -
                        
                        td 
                          a(href=`../uploadImage/Product/${productData._id}/productPage`)
                            span.badge.text-bg-success Upload Image 

                    tr      
                      th SubProducts
                      th :
                      td= `${productData.SubProductId}`
                      td 
                        a(href=`../editAny/Product/${productData._id}/SubProductId//${productData.SubProductId}/${typeof productData.SubProductId}/productPage`)
                          span.badge.text-bg-success Edit
                    
                    tr      
                      th SuperProductID
                      th :
                      td= `${productData.SuperProductID}`
                      td 
                        a(href=`../editAny/Product/${productData._id}/SuperProductID//${productData.SuperProductID}/${typeof productData.SuperProductID}/productPage`)
                          span.badge.text-bg-success Edit
                                   
                                                       
                    tr      
                      th group
                      th :
                      td= `${productData.group}`
                      td 
                        a(href=`../editAny/Product/${productData._id}/group//${productData.group}/${typeof productData.group}/productPage`)
                          span.badge.text-bg-success Edit
                    tr      
                      th package
                      th :
                      td= `${productData.package}`
                      td 
                        a(href=`../editAny/Product/${productData._id}/package//${productData.package}/${typeof productData.package}/productPage`)
                          span.badge.text-bg-success Edit

                    tr      
                      th variant
                      th :
                      td= `${productData.variant}`
                      td 
                        a(href=`../editAny/Product/${productData._id}/variant//${productData.variant}/${typeof productData.variant}/productPage`)
                          span.badge.text-bg-success Edit
               
                    tr      
                      th warranty
                      th :
                      td= `${productData.warranty}`
                      td 
                        a(href=`../editAny/Product/${productData._id}/warranty//${productData.warranty}/${typeof productData.warranty}/productPage`)
                          span.badge.text-bg-success Edit
                    tr      
                      th description
                      th :
                      td= `${productData.description}`
                      td 
                        a(href=`../editAny/Product/${productData._id}/description//${productData.description}/${typeof productData.description}/productPage`)
                          span.badge.text-bg-success Edit
               
                    tr      
                      th color
                      th :
                      td= `${productData.color}`
                      td 
                        a(href=`../editAny/Product/${productData._id}/color//${productData.color?productData.color:"NaN"}/${typeof productData.color}/productPage`)
                          span.badge.text-bg-success Edit
                    tr      
                      th note
                      th :
                      td= `${productData.note}`
                      td 
                        a(href=`../editAny/Product/${productData._id}/note//${productData.note?productData.note:"NaN"}/${typeof productData.note}/productPage`)
                          span.badge.text-bg-success Edit
               
        
