extends layout

block content
  .main.container
    h1 Prdoduct Detailed Page
    p= productData

    include ./includes/inventory.pug
    include ./includes/inventoryData.pug

    
    h1.display-4.m-b-2 ITC Store

    table.table.table-striped
      tbody
        tr
          th ID
          td= `${productData._id}`
          td 
        tr
          th Sr.
          td= `${productData.sr}`
          td 
            a(href=`../editAny/Product/${productData._id}/sr//${productData.sr?productData.sr:"NaN"}/${typeof productData.sr}/productPage`)
              span.badge.text-bg-success
                i.fa.fa-cog.p-1(aria-hidden='true')
        tr
          th Number
          td= `${productData.productNo}`
          td 
            a(href=`../editAny/Product/${productData._id}/productNo//${productData.productNo?productData.productNo:"NaN"}/${typeof productData.productNo}/productPage`)
              span.badge.text-bg-success
                i.fa.fa-cog.p-1(aria-hidden='true')
        tr
          th Name
          td= `${productData.name}`
          td 
            a(href=`../editAny/Product/${productData._id}/name//${productData.name?productData.name:"NaN"}/${typeof productData.name}/productPage`)
              span.badge.text-bg-success
                i.fa.fa-cog.p-1(aria-hidden='true')
        
        tr
          th English Name
          td= `${productData.nameE}`
          td 
            a(href=`../editAny/Product/${productData._id}/nameE//${productData.nameE?productData.nameE:"NaN"}/${typeof productData.nameE}/productPage`)
              span.badge.text-bg-success
                i.fa.fa-cog.p-1(aria-hidden='true')
        tr
          th URL
          td= `${productData.url}`
          td 
            a(href=`../editAny/Product/${productData._id}/url//${productData.url?productData.url:"NaN"}/${typeof productData.url}/productPage`)
              span.badge.text-bg-success
                i.fa.fa-cog.p-1(aria-hidden='true')

        tr
          th variation             
          td= `${productData.variation}`
          td 
            a(href=`../editAny/Product/${productData._id}/variation//${productData.variation?productData.variation:"NaN"}/${typeof productData.variation}/productPage`)
              span.badge.text-bg-success
                i.fa.fa-cog.p-1(aria-hidden='true')
        tr
          th cost
          td= `${productData.cost}`
          td 
            a(href=`../editAny/Product/${productData._id}/cost//${productData.cost}/${typeof productData.cost}/productPage`)
              span.badge.text-bg-success
                i.fa.fa-cog.p-1(aria-hidden='true')
        tr
          th price
          td= `${productData.price}`
          td 
            a(href=`../editAny/Product/${productData._id}/price//${productData.price}/${typeof productData.price}/productPage`)
              span.badge.text-bg-success
                i.fa.fa-cog.p-1(aria-hidden='true')
        tr
          th discount Price
          td= `${productData.discountPrice}`
          td 
            a(href=`../editAny/Product/${productData._id}/discountPrice//${productData.discountPrice}/${typeof productData.discountPrice}/productPage`)
              span.badge.text-bg-success
                i.fa.fa-cog.p-1(aria-hidden='true')


        tr      
          th discounted
          td= `${productData.discounted}`
          td 
            a(href=`../editAny/Product/${productData._id}/discounted//${productData.discounted}/${typeof productData.discounted}/productPage`)
              span.badge.text-bg-success
                i.fa.fa-cog.p-1(aria-hidden='true')
        tr      
          th Show In Website
          td= `${productData.showInWebsite}`
          td 
            a(href=`../editAny/Product/${productData._id}/showInWebsite//${productData.showInWebsite}/${typeof productData.showInWebsite}/productPage`)
              span.badge.text-bg-success
                i.fa.fa-cog.p-1(aria-hidden='true')
        tr      
          th Buy Know            
          td= `${productData.buyknow}`
          td 
            a(href=`../editAny/Product/${productData._id}/buyknow//${productData.buyknow}/${typeof productData.buyknow}/productPage`)
              span.badge.text-bg-success
                i.fa.fa-cog.p-1(aria-hidden='true')
        tr      
          th Show in Google            
          td= `${productData.googleSheet}`
          td 
            a(href=`../editAny/Product/${productData._id}/googleSheet//${productData.googleSheet}/${typeof productData.googleSheet}/productPage`)
              span.badge.text-bg-success
                i.fa.fa-cog.p-1(aria-hidden='true')
        tr      
          th Can Be Ordered  
          td= `${productData.canBeOrdered}`
          td 
            a(href=`../editAny/Product/${productData._id}/canBeOrdered//${productData.canBeOrdered}/${typeof productData.canBeOrdered}/productPage`)
              span.badge.text-bg-success
                i.fa.fa-cog.p-1(aria-hidden='true')
        tr      
          th Warehouse Avialable
          td= `${productData.buyknow}`
          td 
            a(href=`../editAny/Product/${productData._id}/warehouseAvialable//${productData.warehouseAvialable}/${typeof productData.warehouseAvialable}/productPage`)
              span.badge.text-bg-success
                i.fa.fa-cog.p-1(aria-hidden='true')
        tr
          th Sell Count                
          td= `${productData.sellCount}`
          td 
            a(href=`../editAny/Product/${productData._id}/sellCount//${productData.sellCount}/${typeof productData.sellCount}/productPage`)
              span.badge.text-bg-success
                i.fa.fa-cog.p-1(aria-hidden='true')
        tr
          th category URLs               
          td= `${productData.category}`
          td 
            a(href=`../editAny/Product/${productData._id}/category//x/${typeof productData.category}/productPage`)
              span.badge.text-bg-success
                i.fa.fa-cog.p-1(aria-hidden='true')

        tr
          th Image
  
          if productData.img
            td
              each img,index in productData.img
                  a(href=`${img}`) Image Link #{index+1}
                  br
          else
            td - 
            
          td 
            a(href=`../uploadImage/Product/${productData._id}/productPage/img`)
              span.badge.text-bg-success
                i.fa.fa-cog.p-1(aria-hidden='true')
        
        
              
        
        tr
            th Warehouse No
            
            td= `${productData.warehouseNo}`
            td 
              a(href=`../editAny/Product/${productData._id}/warehouseNo//${productData.warehouseNo?productData.warehouseNo:"NaN"}/${typeof productData.warehouseNo}/productPage`)
                span.badge.text-bg-success Edit
        
        



        
        
        tr
            th Google Category
            
            td= `${productData.googleCategory}`
            td 
              a(href=`../editAny/Product/${productData._id}/googleCategory//${productData.googleCategory?productData.googleCategory:"NaN"}/${typeof productData.googleCategory}/productPage`)
                span.badge.text-bg-success Edit
        

        
        



        
       
        tr
            th quantity               
            td= `${productData.quantity}`
            td 
              a(href=`../editAny/Product/${productData._id}/quantity//${productData.quantity}/${typeof productData.quantity}/productPage`)
                span.badge.text-bg-success Edit
       
        
        
            
    
            
        
        tr
            
          th brand
          
          td
            p Name: #{productData.brand.name}
            p ID  : #{productData.brand.id}
            p Mobile  : #{productData.brand.mobile}
          td 
            form(method='POST' action=`../editProduct/${productData._id}`).d-flex.align-items-center
              select.form-control(name='brandID')
                option(value='') Select Brand
                each brand in brandData
                  option(value=brand._id)= brand.name
              button.btn.btn-primary(type='submit').badge.text-bg-Light.border-secondary.mx-1
                i.fa.fa-cog.p-1.my-1(aria-hidden='true')
        
        
        
        
        
                       
                                           
        tr      
          th group
          
          td= `${productData.group}`
          td 
            a(href=`../editAny/Product/${productData._id}/group//${productData.group}/${typeof productData.group}/productPage`)
              span.badge.text-bg-success Edit
        

        
   
        tr      
          th warranty
          
          td= `${productData.warranty}`
          td 
            a(href=`../editAny/Product/${productData._id}/warranty//${productData.warranty}/${typeof productData.warranty}/productPage`)
              span.badge.text-bg-success Edit
        tr      
          th description
          
          td= `${productData.description}`
          td 
            a(href=`../editAny/Product/${productData._id}/description//${productData.description}/${typeof productData.description}/productPage`)
              span.badge.text-bg-success Edit
   
        
        tr      
          th note
          
          td= `${productData.note}`
          td 
            a(href=`../editAny/Product/${productData._id}/note//${productData.note?productData.note:"NaN"}/${typeof productData.note}/productPage`)
              span.badge.text-bg-success Edit
