extends layout

block content
  .main.container

    h1 صفحة امر الشراء


    .row
        
        .col.col-lg-2
            table.table.table-sm 
                //- thead
                    tr
                    th(scope='col') Proparty
                    th(scope='col') Value
                tbody
                     tr
                        th المخزن
                        th :
                        td= `${purchaseData.warehouse}`
                     tr
                        th ID
                        th :
                        td= `${purchaseData._id}`
                     tr
                        th الحالة
                        th :
                        td= `${purchaseData.status}`
                     tr
                        th التاريخ
                        th :
                        td= `${purchaseData.time.toLocaleDateString("en-GB")}`
                     tr
                        th المورد
                        th :
                        td= `${purchaseData.vendorName}`
                     tr
                        th التكلفة
                        th :
                        td= `${purchaseData.totalCost}`



        table.table
            thead.table-secondary
                tr
                th #
                th الاسم
                //- th ID
                th الكمية
                th السعر
                th الاجمالي

            tbody
                - var x = 0 , total = 0
                each product,index in purchaseData.productIDs
                    - x = x + 1
                    tr 
                        td= `${index+1}`
                        td= purchaseData.productNames[index]
                        //- td= purchaseData.productIDs[index]
                        td= purchaseData.quantity[index]
                        td= purchaseData.cost[index]
                        td= (purchaseData.quantity[index] * purchaseData.cost[index]).toFixed(3)
                        - total = total + purchaseData.cost[index] * purchaseData.quantity[index] 


            
                  
            tbody
                td
                td
                td
                th.table-secondary الاجمالي الكلي
                th.table-secondary= total






        if (purchaseData.status != "completed")
          form(method='POST' action='/manager/AddProductToPurchase')
            .row
              .col-sm
                  label(for='productID') product ID :
                  //- input.form-control(type='text' name='productID')
                  input.form-control(value=`${purchaseData._id}` type='hidden' name='purchaseID')

               
                  

                  



                  select.form-select#orderProduct(name='productID' type='text')
                      each theProduct,index in productsData
                          option( value=`${theProduct._id}#${theProduct.qurain}#${theProduct.naseem}#${theProduct.cost}`)= ` ${theProduct.SubProductId.length}  ${(theProduct.variant ) ? '' : '_______' } ${theProduct.productNo}: ${theProduct.name} || ${theProduct.brandName}  `
              .col-sm
                  label(for='quantity') Qurain :
                  input.form-control#qurainProductOrder(value=qurain disabled)
              .col-sm
                  label(for='quantity') Naseem :
                  input.form-control#naseemProductOrder(value=naseem disabled)
              .col-sm
                  label(for='quantity') Quantity :
                  input.form-control(value='1' type='number' name='quantity')
              .col-sm
                  label(for='quantity') Cost :
                  input.form-control#PriceO(Value="0" type='number' step=".001" placeholder='0.000 KD' name='cost')


              
            

              //- .col-sm
                label(for='status') Status :
                select.form-select(name='status' type='text')
                  option(value='A') A
                  option(value='NA') NA

              .col-sm
                label.text-white .
                br
                button.btn.btn-primary(type='submit') أضف
        
        if (purchaseData.status != "completed" && x !=0 )
            .col.mt-4
                a(href=`../completePurchase/${purchaseData._id}`)
                    button.btn.btn-danger أكمل امر الشراء

  