extends layout

block content

  .main.container

    h1.text-center
      a(href="/manager/purchase").text-center المشتريات

    
    .d-flex.flex-wrap
      each vendor in vendorData
         a(href=`/manager/purchaseForVendor/${vendor.name}`)
          .p-2.border.border-dark.mx-1.mb-2= vendor.name

    form(method='POST' action='/manager/AddPurchase')
      .row
        .col
          input.form-control(type='text', name='invoice', placeholder='رقم فاتورة المورد' )
        .col
          select.form-control.form-select(name='vendor', placeholder='المورد', required)
            option(value='', disabled, selected) -- اختر المورد --
            each vendor in vendorData
              option(value=`${vendor._id}#${vendor.name}`)= vendor.name
        .col
          select.form-control.form-select(name='payment_method', required)
            option(value='', disabled, selected) -- طريقة الدفع -- 
            option(value='cash') كاش
            option(value='credit') كريدت
        .col
          button.btn.btn-primary(type='submit') طلب شراء جديد

    
    - let totalAmount = purchaseData.reduce((acc, purchase) => acc + parseFloat(purchase.totalPrice), 0)
    - let unpaidAmount = purchaseData.filter(purchase => !purchase.paymentStatus).reduce((acc, purchase) => acc + parseFloat(purchase.totalPrice), 0)
    .row.justify-content-end
      .col-auto
        .alert.alert-info.text-end مجموع الاجمالي: #{totalAmount}
      .col-auto
        .alert.alert-warning.text-end مجموع غير المدفوع: #{unpaidAmount}
      .col-auto
        .alert.alert-success.text-end مجموع المدفوع: #{totalAmount-unpaidAmount}
    
    .table-responsive
      table.table.table-bordered
        thead
          tr
            th(scope='col') رقم الطلب
            th(scope='col') رقم الفاتورة
            th(scope='col') طريقة الدفع
            th(scope='col') التاريخ
            th(scope='col') حالة الاستلام
            th(scope='col') حالة الدفع
            th(scope='col') الاجمالي
            th(scope='col') المورد
            
            
        tbody
          each purchase,index in purchaseData          
            tr
              td
                a(href=`/manager/purchasePage/${purchase._id}`)
                  div= `${purchase.purchaseNo}`

              if purchase.invoice
                td= `${purchase.invoice}`
              else
                td
              
              td= purchase.payment_method
                
                
                
                
                td= `${purchase.time.toLocaleDateString("en-GB")}`

                if (purchase.receivingStatus == "received")
                  td.bg-info تم الاستلام
                else if (purchase.receivingStatus == "processing")
                  td جار المعالجة
                else if (purchase.receivingStatus == "returned")
                  td.bg-warning تم الارجاع
                else
                  td= `${purchase.status}`
                
                if purchase.paymentStatus
                  td.bg-info تم الدفع (تاريخ)
                else
                  td معلق
                td= `${purchase.totalPrice}`
                td #{purchase.vendorName}
