extends layout

block content
  .main.container
    h1 صفحة المشتديات


    .row
        h3 انشئ امر شراء
  
        form(method='POST' action='/manager/AddPurchase')
          .row
            .col-sm
              label(for='warehouse') المتجر :
              select.form-select(name='warehouse' type='text')
                option(value="qurain") القرين
                option(value="naseem") الجهراء

                

            .col-sm    
              label(for='vendor') المورد :
              select.form-select(name='vendor' type='text')
                each vendor ,index in vendorData
                  option(value=`${vendor._id}#${vendor.name}`)= `${vendor.name}`

                
            .col-sm
              label.text-white .
              br
              button.btn.btn-primary(type='submit') امر شراء جديد

        .col.col-lg-6
            table.table
                thead
                        tr.table-secondary
                            th(scope='col') رقم الطلب
                            th(scope='col') المتجر
                            th(scope='col') الحالة
                            th(scope='col') التاريخ
                            th(scope='col') المورد
                            th(scope='col') التكلفة

                tbody
                        each purchase,index in purchaseData
                            tr
                                th(scope='row')
                                    a(href=`purchasePage/${purchase._id}`)
                                        div= `${purchase._id}`

                                if (purchase.warehouse == "qurain")
                                    td
                                        span.badge.text-bg-success= `${purchase.warehouse}`
                                else
                                    td
                                        span.badge.text-bg-warning= `${purchase.warehouse}`

                                if (purchase.status == "completed")
                                    td.text-primary= `${purchase.status}`
                                else
                                    td= `${purchase.status}`
                                td= `${purchase.time.toLocaleDateString("en-GB")}`
                                td= purchase.vendorName
                                td= purchase.totalCost