extends layout

block content
  .main.container
    h1 Transfer Requests Page
    .row
        //- h3 Choose product To Transfer

        .col
            table.table
                thead
                    tr.table-secondary
                        th(scope='col') Product No
                        th(scope='col') Name
                        th(scope='col') Qauntity
                        th(scope='col') Naseem
                        th(scope='col') Qurain
                        th(scope='col') Transfer to
                tbody
                    each product,index in productData
                        

                        tr(class=`${(product.variant == false &&  product.SubProductId.length > 1) ? 'bg-danger' : 'bg-success'}`)


                            th= product.productNo
                            td= product.name
                            td= product.quantity
                            td= product.naseem
                            td= product.qurain
                            td
                                form(method='POST' action='/manager/CreateTransferRequest')
                                    .row
                                        .col-sm
                                            select.form-select(name='data' type='text')
                                                    option(value=`${product._id+"qurain"+"naseem"}`)= "qurain"
                                                    option(value=`${product._id+"naseem"+"qurain"}`)= "naseem"
                                        .col-sm
                                            input.form-control(type='number' name='quantity')
                                        .col-sm
                                            label.text-white 
                                            br
                                            button.btn.btn-primary(type='submit') Transfer
                              
                            