extends layout

block content
  .main.container
    h1 User Detailed Page


    .row
        h1.display-4.m-b-2 ITC Store
        
        .col.col-lg-2
            table.table.table-sm 
                //- thead
                    tr
                    th(scope='col') Proparty
                    th(scope='col') Value
                tbody
                    tr
                        th ID
                        th :
                        td= `${userData._id}`
                        td
                          
                    tr
                        th Name
                        th :
                        td= `${userData.name}`
                        td 
                          a(href=`../editAny/User/${userData._id}/name//-/${typeof userData.name}/userPage`)
                            span.badge.text-bg-success Edit
                   
                    tr
                      th email
                      th :
                      td= `${userData.email}`
                      td 
                        a(href=`../editAny/User/${userData._id}/email//-/${typeof userData.email}/userPage`)
                          span.badge.text-bg-success Edit
                   
                    tr
                        th admin
                        th :
                        td= `${userData.admin}`
                        td 
                          a(href=`../editAny/User/${userData._id}/admin//-/${typeof userData.admin}/userPage`)
                            span.badge.text-bg-success Edit
                   



                    tr
                        th saleseman
                        th :
                        td= `${userData.saleseman}`
                        td 
                          a(href=`../editAny/User/${userData._id}/saleseman//-/${typeof userData.saleseman}/userPage`)
                            span.badge.text-bg-success Edit
                   
                   
                    tr
                        th managerOf
                        th :
                        td= `${userData.managerOf}`
                        td 
                          a(href=`../editAny/User/${userData._id}/managerOf//-/${typeof userData.managerOf}/userPage`)
                            span.badge.text-bg-success Edit              