extends layout

block content
  .main.container
    h1 Users


    .row

        table.table
          thead
            tr
              th(scope='col') Name
              th(scope='col') email
              th(scope='col') Admin
              th(scope='col') saleseman
              th(scope='col') managerOf
              
          tbody
            each user,index in usersData
              tr
                td
                  a(href=`userPage/${user._id}`)
                      div= `${user.name}`
                td= user.email
                td= user.admin
                td= user.saleseman
                td= user.managerOf
                
                    

                

