extends layout

block content
  .main.container
    h1 Warehouse Page


    .row
        //- .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 ITC Store
        h3 Create Warehouse

        form(method='POST' action='/AddWarehouse')
          .row
            .col-sm
              label(for='name') Name :
              input.form-control(type='text' placeholder='Name' name='name')
            .col-sm
              label.text-white .
              br
              button.btn.btn-primary(type='submit') Submit

        table.table
          thead
            tr
              th(scope='col') #
              th(scope='col') Name
              //- th(scope='col') ID
              th(scope='col') 
          tbody
            each warehouse,index in warehouseData
              tr
                th(scope='row')
                  a(href=`warehousePage/${warehouse._id}`)
                    div(scope='row')= index+1

                td= `${warehouse.name}`
                //- td= `${warehouse._id}`
                td
                    a(href=`/deletWarehouse/${warehouse._id}`)
                        .badge.text-bg-danger.ms-1
                            i.bi.bi-trash.m-2

                

