extends layout

block content

  
  .main.container
    h1 Products Page
    - var sr = 1


    .row
        h3 المخزن

        table.table
          thead
            tr
              th(scope='col') Sr
              th(scope='col') No
              th(scope='col') Name
              th(scope='col') Quantity
              th(scope='col') img
              th(scope='col') SKU
          tbody
            each product,index in productData
              if product.qurain > 0
               
                tr
                  //- th(scope='row')= index+1
                  td= sr
                  - sr += 1
                  td
                    a(href=`../product/${product.url}`)
                      if product.googleSheet
                        span.text-danger= `${product.productNo}`
                      else
                        span= `${product.productNo}`
                
                  td
                    a(href=`productPage/${product._id}`)
                      div= product.name
                 
                  
                  td= product.qurain
                  td
                    img.d-block.w-50(src=product.img[0], style="aspect-ratio: 1 / 1;",  height='80')
