extends layout

block content
  .main.container
    h1 Products Page


    .row
        h3 Create Product

        
        table.table
          thead
            tr
              //- th(scope='col') #
              th(scope='col') No
              th(scope='col') Name
              th(scope='col') Cost
              th(scope='col') Price
              th(scope='col') Discount Price
              th(scope='col') Quantity
              th(scope='col') Naseem
              th(scope='col') Qurain
              th(scope='col') Category
              th(scope='col') Brand
              th(scope='col') Vendor
              th(scope='col') Status
          tbody
            each product,index in productData
              tr
                //- th(scope='row')= index+1
                
                td= product.productNo
                td= `${product.name}`
                if product.cost
                  td= `${product.cost.toFixed(3)}`
                else
                  td -
                td= `${product.price.toFixed(3)}`
                if product.discountPrice == 0
                  td  -
                else
                  td= `${product.discountPrice} K.D`
                    a(href=`/deletProductDiscount/${product._id}`)
                      i.bi.bi-trash.m-2

                td= `${product.quantity}`
                td= `${product.naseem}`
                td= `${product.qurain}`
                td= `${product.categoryName}`
                td= product.brandName
                td= product.vendorName
                td= `${product.status}`
                td
                  a(href=`/deletProduct/${product._id}`)
                    .badge.text-bg-danger.ms-1
                      i.bi.bi-trash.m-2

