extends layout

block content

  
  .main.container
    h1 Products Page
    //p= warehouseData
    - var sr = 1


    .row
        h3= place
        .table-responsive
          table.table
            thead
              tr
                th #
                th الماركة
                th الاسم
                th الصنف (عربي)
                th الصنف (E)
                th كمية المخزن
                
                
                
                
            tbody
              each data,index in warehouseData
                tr
                  td= index+1
                  td= data.brand
                  td= data.productNameA
                  td= data.nameA
                  td= data.nameE
                  if (place == "warehouse")
                    td= data.quantitywarehouse01
                  else if  (place == "shop")
                    td= data.quantityShop
                  
