.card.text-dark.bg-light.mb-3.rtl(style='max-width: 32rem;')
  .card-header.text-center.fs-1 انشئ صنف
  form(action='../AddInventory' method='post').px-1
  
    .row.row-cols-2
      .col
        .form-group 
          label(for='input1') رقم المنتج
          input.form-control(type='text' name='' value=productData.productNo disabled)
          input#input0.form-control(name='productNo' value=productData.productNo type='hidden')
      .col
        .form-group 
          label(for='input1') العلامة التجارية 
          input#input11.form-control(type='text' name='brand')
      .col
        .form-group 
          label(for='input1') التكلفة  
          input#input11.form-control(type='number' name='cost' step="0.001")
      .col
        .form-group 
          label(for='input1') اسم المتغير (عربي)
          input#input1.form-control(type='text' name='nameA')
      .col
        .form-group 
          label(for='input1') اسم المتغير (انجليزي)
          input#input1.form-control(type='text' name='nameE')
      .col
        .form-group
          label(for='input2') الكمية في المحل
          input#input2.form-control(type='text' name='quantityShop' value=0)
      .col
        .form-group
          label(for='input2') الكمية في المخزن
          input#input3.form-control(type='text' name='quantitywarehouse01' value=0)
      .col
        .form-group
          label(for='input2') اقل كمية
          input#input3.form-control(type='number' name='min' value=0)
      .col
        .form-group
          label(for='input2') هاتف المورد
          input#input3.form-control(type='text' name='vendormobile')
    input(type='hidden' name='productID' value=productData._id)
    input(type='hidden' name='productNameA' value=productData.name)
    input(type='hidden' name='productNameE' value=productData.nameE)
    .d-grid.gap-2
      button.btn.btn-primary.mt-2(type='submit') ارسل
