hr.mt-4

.text-center.mb-2
  span.fs-3.text-center ادارة المخزون
  a(href=`../inventory/${productData.productNo}`)
    span.badge.text-bg-success.mx-2
      i.fa.fa-cog.p-1(aria-hidden='true')
  

table.table.table-striped.table-success
  thead
    tr
      th ماركة
      th صنف
      th المحل
      th المخزن
  tbody
    each inventory,index in inventoryData
      tr
        td= inventory.brand
        td= inventory.nameA
        td= inventory.quantityShop
        td= inventory.quantitywarehouse01
