.row 
  .col.col-lg-6
      table.table.table-sm 
          tbody
              tr
                th صورة الفاتورة
                th :
                if orderData.img
                  td 
                    a(href=`${orderData.img}`) رابط الصورة
                else
                  td -
                td 
                  a(href=`../uploadImage/Order/${orderData._id}/orderPage/img`)
                    span.badge.text-bg-success
                      i.fa.fa-upload.p-1(aria-hidden='true')
              tr
                  th رقم الطلب
                  th :
                  td= `${orderData.orderNo}`
                  th
              tr
                  th رقم الفاتورة
                  th :
                  td= `${orderData.invoice}`
                  td  
                    //if (orderData.status != "completed" && orderData.status != "returned" && orderData.status != "canceled")
                    a(href=`../editAny/Order/${orderData._id}/invoice//${orderData.invoice?orderData.invoice:"NaN"}/${typeof orderData.invoice}/orderPage`)
                        span.badge.text-bg-success
                          i.fa.fa-cog.p-1(aria-hidden='true')  
              tr
                th الهاتف
                th :
                td= `${orderData.mobile}`
                td  
                  if (orderData.status != "completed" && orderData.status != "returned" && orderData.status != "canceled" || managerNow )
                    a(href=`../editAny/Order/${orderData._id}/mobile//${orderData.mobile?orderData.mobile:"NaN"}/${typeof orderData.mobile}/orderPage`)
                      span.badge.text-bg-success
                        i.fa.fa-cog.p-1(aria-hidden='true')
  
              tr
                th اسم العميل
                th :
                td= `${orderData.customerName}`
                td  
                  if (orderData.status != "completed" && orderData.status != "returned" && orderData.status != "canceled")
                    a(href=`../editAny/Order/${orderData._id}/customerName//${orderData.customerName?orderData.customerName:"NaN"}/${typeof orderData.customerName}/orderPage`)
                      span.badge.text-bg-success
                        i.fa.fa-cog.p-1(aria-hidden='true')
  
              tr
                th العنوان
                th :
                td= `${orderData.address}`
                td  
                  if (orderData.status != "completed" && orderData.status != "returned" && orderData.status != "canceled")
                    a(href=`../editAny/Order/${orderData._id}/address//${orderData.address?orderData.address:"NaN"}/${typeof orderData.address}/orderPage`)
                      span.badge.text-bg-success
                        i.fa.fa-cog.p-1(aria-hidden='true')
  


      .card.mb-4
        .card-header.collapsed(data-bs-toggle='collapse' data-bs-target='#collapseInventoryForm2' aria-expanded='false' aria-controls='collapseInventoryForm2')
          i.fas.fa-angle-down.mx-1
          | البيانات الاضافية
        .collapse#collapseInventoryForm2
          .card-body
            table.table.table-sm 
    
                tr
                  th 
                  th 
                  th 
                  th
                    br
                    br
                tr
                    th وسيلة الدفع 
                    th :
                    td= `${orderData.payment_method}`
                tr
                    th حاله دفع اونلاين
                    th :
                    td= `${orderData.KentStatus}`
                tr
                    th تأكيد الدفع
                    th :
                    td= `${orderData.KentStatusBackEnd}`
                tr
                    th المتجر
                    th :
                    td= `${orderData.warehouse}`
                    td
                      if (orderData.status != "completed" && orderData.status != "returned" && orderData.status != "canceled")
                        a(href=`../editAny/Order/${orderData._id}/warehouse//${orderData.warehouse?orderData.warehouse:"NaN"}/${typeof orderData.warehouse}/orderPage`)
                          span.badge.text-bg-success
                            i.fa.fa-cog.p-1(aria-hidden='true')
                tr
                    th paymentLog
                    th :
                    td= `${orderData.paymentLog}`
                    td
                      if (orderData.status != "completed" && orderData.status != "returned" && orderData.status != "canceled")
                        a(href=`../editAny/Order/${orderData._id}/paymentLog//${orderData.paymentLog?orderData.paymentLog:"NaN"}/${typeof orderData.paymentLog}/orderPage`)
                          span.badge.text-bg-success
                            i.fa.fa-cog.p-1(aria-hidden='true')
                tr
                    th الحالة
                    th :
                    td= `${orderData.status}`
                    td
                      if (orderData.status != "completed" && orderData.status != "returned" || managerNow)
                        a(href=`../editAny/Order/${orderData._id}/status//${orderData.status?orderData.status:"NaN"}/${typeof orderData.status}/orderPage`)
                          span.badge.text-bg-success
                            i.fa.fa-cog.p-1(aria-hidden='true')
                if orderData.createdBy.name
                  tr
                      th منشئ الطلب
                      th :
                      td (#{orderData.createdBy.name}) #{orderData.createdBy.date.toLocaleDateString("en-GB")} 

                if orderData.changeStatusBy[0]
                  tr
                      th تاريخ تعديل
                      th :
                      td
                        each change in orderData.changeStatusBy
                          p #{change.name} - #{change.status} - #{change.date.toLocaleDateString("en-GB")}
                if orderData.approvedDeletedBy.name
                  tr
                      th تاريخ تعديل او حذف
                      th :
                      td
                        p #{orderData.approvedDeletedBy.name} - #{orderData.approvedDeletedBy.status} - #{orderData.approvedDeletedBy.date.toLocaleDateString("en-GB")}

      if orderData.img
        .card.mb-4
          .card-header.collapsed(data-bs-toggle='collapse' data-bs-target='#collapseInventoryForm2' aria-expanded='false' aria-controls='collapseInventoryForm2')
            i.fas.fa-angle-down.mx-1
            | صورة الفاتورة
          .collapse#collapseInventoryForm2
            .card-body
              img(src=`${orderData.img}` alt='Invoice Image')
        
  
