.table-responsive
  table.table
    thead.table-secondary
      tr
        th #
        th اسم المنتج
        th الصنف
        th الماركة
        th الكفالة (سنة)
        th الكمية
        th السعر
        th الاجمالي
    tbody
      - var grandTotal = 0
      each val, index in orderData.inventoryQuantities
        - var total = val * orderData.prices[index]
        - grandTotal += total
        
        tr(style=(val==0 ? 'text-decoration: line-through ; color: gray ' : ''))

          td= index + 1
          td= orderData.productNameAs[index]
          td= orderData.nameAs[index]
          td= orderData.brands[index]
          td= orderData.warranties[index]
          

          td
            form(action=`/manager/updateOrderLine/inventoryQuantities/${orderData._id}/${index}` method='POST').d-flex.align-items-center
              input.form-control(type='number', name='value', value=val, min='0').me-2
              button.btn.btn-primary(type='submit').badge.text-bg-Light.border-secondary.mx-1
                i.fa.fa-cog.p-1.my-1(aria-hidden='true')
          
          td
            form(action=`/manager/updateOrderLine/prices/${orderData._id}/${index}` method='POST').d-flex.align-items-center
              input.form-control(type='number', name='value', value=orderData.prices[index].toFixed(3), min='0', step="0.005")
              button.btn.btn-primary(type='submit').badge.text-bg-Light.border-secondary.mx-1
                i.fa.fa-cog.p-1.my-1(aria-hidden='true')
          
          
          
          
          td= total.toFixed(3)

    tfoot
      //tr.table-secondary
        td(colspan='8')
      tr
        td(colspan='6') 
        td.table-secondary الخصم
        td.table-secondary
          - grandTotal -= orderData.discount
          form(action=`/manager/updateOrderDiscountShip/discount/${orderData._id}/` method='POST').d-flex.align-items-center
            input.form-control(type='number', name='value', value=orderData.discount.toFixed(3), min='0', step="0.005")
            button.btn.btn-primary(type='submit').badge.text-bg-Light.border-secondary.mx-1
              i.fa.fa-cog.p-1.my-1(aria-hidden='true')
      tr
        td(colspan='6') 
        td.table-secondary التوصيل
        td.table-secondary
          - grandTotal += orderData.shippingCost
          form(action=`/manager/updateOrderDiscountShip/shippingCost/${orderData._id}` method='POST').d-flex.align-items-center
            input.form-control(type='number', name='value', value=orderData.shippingCost.toFixed(3), min='0', step="0.005")
            button.btn.btn-primary(type='submit').badge.text-bg-Light.border-secondary.mx-1
                i.fa.fa-cog.p-1.my-1(aria-hidden='true')
      
      tr.table-secondary
        td(colspan='6') 
        td الاجمالي
        td= grandTotal.toFixed(3)
