

.row
  .col
    a(href=`/invoicePrint/${orderData._id}`)
      .btn.btn-success.bg-warning.mb-2 اطبع الفاتورة


  if orderData.mobile
    - var mobile = (orderData.mobile).slice(-8)
      
    .col
      a(aria-label='Chat on WhatsApp' href=`https://wa.me/965${mobile}`)
        .btn.btn-success.bg-warning.mb-2 واتساب فارغ
    .col
      a(aria-label='Chat on WhatsApp' href=`https://wa.me/965${mobile}/?text=تم%20استلام%20طلبك%20من%20شركة ${language.language.ar.title}%0aرقم%20الطلب: %20${orderData.orderNo}%0aالاجمالي:${(total - orderData.discount + orderData.shippingCost).toFixed(3)}د.ك%0aللاطلاع على تفاصيل الطلب:%0a${theData.host}/invoicePrint/${orderData.orderNo}`)
        .btn.btn-success.bg-warning.mb-2 واتساب بالبيانات
